@model IEnumerable<YourITMatch.Models.CompanyModel>

@{
    ViewData["Title"] = "CompaniesAddedByUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zarządzaj firmami</h1>
<a class="nav-link text-white btn btn-primary col-4 col-md-2 mt-4 mb-4" asp-area="" asp-controller="Company" asp-action="Create">Dodaj firmę</a>
<section class="row">
    @foreach (var company in Model)
    {
        <div class="card row col-12 col-md-6 p-5 mb-5">

            <div class="col-12">
                <h4 class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-buildings" viewBox="0 0 16 16">
                        <path
                        d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z" />
                        <path
                        d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z" />
                    </svg>
                    @company.Name
                </h4>
                <div class="mt-4 mb-4 overflow-hidden" style="max-height: 100px;">
                   @company.Description

                </div>

            </div>
                    <div class="mb-5 row col-12" style="max-height:30px;">
                <a class="btn btn-success col-12 mb-3" asp-controller="JobOffer" asp-action="Create" asp-route-companyId="@company.ID">Dodaj ofertę pracy</a>
                <a class="btn btn-primary col-12 col-md-6 mb-3" asp-action="Edit" asp-route-id="@company.ID">Edytuj</a>
                <a class="btn btn-danger col-12 col-md-6 mb-3" asp-action="Delete" asp-route-id="@company.ID">Usuń</a>

            </div>
        </div>
    }
</section>
