@model List<JobOfferModel>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Description</th>
            <th>Salary</th>
            <th>Date Added</th>
            <th>Remote</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jobOffer in Model)
        {
            <tr>
                <td>@jobOffer.Title</td>
                <td>@jobOffer.CompanyID.Name</td>
                <td>@jobOffer.Description</td>
                <td>@jobOffer.SalaryFrom</td>
                <td>@jobOffer.SalaryTo</td>
                <td>@jobOffer.DateAdded</td>
                <td>@jobOffer.Remote</td>
            </tr>
        }
    </tbody>
</table>