@using YourITMatch.Extensions;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your IT Match</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YourITMatch.styles.css" asp-append-version="true" />
</head>
<body class="bg-primary">
    <header class=" sticky-top">
        <nav id="navbar" class="navbar navbar-dark navbar-expand-md py-3 bg-secondary bg-opacity-75 ">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="" asp-action="">
                    <span class="bs-icon-sm d-flex me-2 bs-icon">
                        <object data="~/icons/brand.svg" width="40em" height="40em"></object>
                    </span>
                    <span>Your IT Match</span>
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span></button>
                <div id="navcol-1" class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item @Html.IsActive("JobOffer", "Index")">
                            <a class="nav-link text-white" asp-area="" asp-controller="JobOffer" asp-action="Index">Oferty</a>
                        </li>
                        <li class="nav-item rounded-pil @Html.IsActive("Home", "Privacy")">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Profile firm</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main id="main" role="main" class="card mt-4 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer text-muted bg-secondary">
        <div class="container">
            &copy; 2022 - @(DateTime.Now.Year.ToString()) Your IT Match - <a class="text-muted" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
